#messages { 
    margin-bottom: 6px;
    padding: 6px;
    border: 1px solid #D3D3D3; 
    overflow-y: scroll; 
    word-break: keep-all; 
}

.chatme, .chatbot{
    margin-bottom: 10px;
    margin-top: 10px;
}

.chatmeContent > div{
    padding-right: 0px;
}

.chatmeContent span{
    min-height: 35px;
    min-width: 80px;
    background: url('../images/chatto_bg_normal.png');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
    padding: 6px 20px 6px 12px;
    float:right;
    text-align: left;
    word-break: keep-all;

}
.chatmeContent img{
    padding:0;
    width:35px;
    height:35px;
    float:right;
    border:1 solid #D3D3D3;
}

.chatbotContent > div{
    padding-left: 0px;
}
.chatbotContent span{
    min-height: 35px;
    min-width: 80px;
    background: url('../images/chatfrom_bg_normal.png');
    background-repeat: no-repeat;
    background-origin: -200px -10px;
    background-size: 100% 100%;
    padding: 6px 12px 6px 20px;
    float:left;
    text-align: left;
    word-break: keep-all;
}

.chatbotContent img{
    padding:0;
    width:35px;
    height:35px;
    float:left;
    border:1 solid #D3D3D3;
}
